

<div class="user_profile">
{{firstName}} {{lastName}} {{email}}

  <div class="tweet_count_container">
    Tweets:
    <div="tweet_count">
      {{tweetCount}}
    </div>
  </div>
</div>

<div class="compose_tweet">
  {{input type="text" placeholder="Compose new Tweet..." value=newTweetText action="newTweet"}}
</div>

<div class="tweet_stream">
  {{#each tweets}}
  <p>{{text}}</p>
  {{/each}}
</div>
